services:
  db:
    image: postgres:latest
    container_name: db
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 5s
      timeout: 5s
      retries: 5
    restart: unless-stopped

  db-init:
    image: python:3.9-slim
    container_name: db-init
    depends_on:
      db:
        condition: service_healthy
    env_file:
      - .env
    environment:
      POSTGRES_HOST: db
    volumes:
      - ./src/db_init.py:/db_init.py
      - ./src/db_init.json:/db_init.json
    working_dir: /
    command: >
      sh -c "pip install psycopg2-binary && python db_init.py"
    restart: no

volumes:
  pgdata:
